<ion-content>
    <ion-list>
        <ion-item>
            <ion-label floating>PatientId</ion-label>
            <ion-input type="text" [(ngModel)] ="patientid" (keyup) ="getPatient();"></ion-input>
        </ion-item>
    </ion-list>
    <div class="tbl-headerr" *ngIf="records?.length>0">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>Date</th>
                <th >Issue</th>
                <th>Test Recommended</th>
                <th>Medicine</th>
                <th>Treatedby</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-contentr" *ngIf="records?.length>0">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr *ngFor = "let record of records">
                <td>{{record.consultdate}}</td>
                <td>{{record.issue}}</td>
                <td>{{record.recommendedtest}}</td>
                <td>{{record.medicine}}</td>
                <td>{{record.treatedby}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</ion-content>